@import 'tailwindcss';

body {
  @apply m-0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* елемент-обгортка секції */
.hero-bg {
  position: relative;
  background-color: #150f08; /* базовий фон */
}

/* лише фон + маска */
.hero-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  /* фон */
  background-image: image-set(
    url('/images/main/hero/d_hero@1x.png') 1x,
    url('/images/main/hero/d_hero@2x.png') 2x
  );
  background-size: cover; /* або contain — як потрібно */
  background-position: 60% center; /* зсув уліво/управо */
  background-repeat: no-repeat;

  /* маска: чорний = видно, прозорий = ховаємо */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* увесь контент поверх фону/маски */
.hero-bg > * {
  position: relative;
  z-index: 1;
}

.develop-bg {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

/* окремий бекграунд — приціл збоку */
.develop-bg::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  width: 520px;
  height: 520px;
  opacity: 0.25;
  pointer-events: none;
  z-index: 0;
  background: no-repeat center/contain url('/images/main/decor/sight.svg'); /* твій SVG-файл */
}

/* увесь контент поверх */
.develop-bg > * {
  position: relative;
  z-index: 1;
}

.main-page-bg {
  position: relative;
  background-size: cover; /* або contain — як потрібно */
  background-position: 60% center; /* зсув уліво/управо */
  background-repeat: no-repeat;
  background-origin: content-box;
  background-image: image-set(
    url('/images/main/bg/d_main_bg@1x.png') 1x,
    url('/images/main/bg/d_main_bg@2x.png') 2x
  );
}

.main-page-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% opacity */
  z-index: 0;
}

.main-page-bg > * {
  position: relative;
  z-index: 1; /* щоб контент був поверх */
}
